@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 2em;
}

body {
  font-family: sans-serif;
}

.logo {
  margin-inline: auto;
  position: relative;
}
@media (max-width: 62.5em) {
  .logo {
    width: 90%;
  }
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
  background-color: #a59678;
  color: #fff;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
  top: 0.5em;
}
@media (min-width: 62.5rem) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle:focus, .nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  display: block;
  margin-inline: auto;
  height: 0.3em;
  background-color: #fff;
  width: 50%;
}
.hamburger::before, .hamburger::after {
  content: "";
  height: 0.3em;
  width: 100%;
  display: block;
  background-color: #fff;
}
.hamburger::before {
  transform: translateY(-0.6em);
}
.hamburger::after {
  transform: translateY(0.3em);
}

header .nav {
  visibility: hidden;
  height: 0;
}
@media (min-width: 62.5rem) {
  header .nav {
    visibility: visible;
    height: auto;
  }
}
header .nav-visible {
  visibility: visible;
  height: auto;
}

.header {
  background-color: #2e323f;
  text-align: center;
}
@media (min-width: 62.5rem) {
  .header .container {
    display: flex;
  }
}
.header .logo {
  padding: 1em 0;
}
.header .nav {
  font-size: 1.8rem;
}
@media (min-width: 62.5rem) {
  .header .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 3em;
  }
}
@media (min-width: 62.5rem) {
  .header .nav__list {
    display: flex;
    gap: 1.5em;
    align-items: center;
  }
}
.header .nav__link {
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5em 0;
  margin: 0.3em 0;
  transition: transform 0.3s ease-out;
}
.header .nav__link:hover {
  transform: scale(1.2);
}
.header .nav__item--btn {
  margin-bottom: 0.8em;
}
@media (min-width: 62.5rem) {
  .header .nav__item--btn {
    margin-bottom: 0;
  }
}

.footer {
  background-color: #2e323f;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
  padding-block: 6em;
}
.footer__title {
  padding: 0 2em 0.6em;
  font-family: "Oswald";
}
@media (min-width: 62.5rem) {
  .footer__title {
    font-size: 4.4rem;
  }
}
.footer h3 {
  font: "Oswald";
  color: #a59678;
  margin: 1.2em 0 0.4em;
}
@media (min-width: 62.5rem) {
  .footer h3 {
    font-size: 2.1rem;
  }
}
.footer p {
  font-family: "Montserrat";
}
@media (min-width: 62.5rem) {
  .footer p {
    font-size: 1.6rem;
  }
}
.footer .nav {
  line-height: 2.2em;
}
@media (min-width: 62.5rem) {
  .footer .nav {
    line-height: 1.8em;
  }
}
.footer .nav__link:hover {
  border: solid #a59678;
}
.footer__nav {
  margin-top: 2em;
}
@media (min-width: 43.75rem) {
  .footer__nav {
    display: flex;
  }
}
@media (min-width: 43.75rem) {
  .footer__links {
    width: 100%;
  }
}

.btn {
  background-color: #a59678;
  border-radius: 3em;
  padding: 0.4em 2em;
  text-transform: uppercase;
  transition: transform 0.3s ease-out;
  display: inline-block;
  font-weight: bold;
}
.btn:hover, .btn:focus {
  transform: scale(1.1);
}

.card {
  color: #fff;
  background-color: #2e323f;
  padding: 2em;
  margin-top: 2em;
  text-align: center;
}
.card__text {
  line-height: 1.5em;
  font-size: 1.4rem;
}

.main .hero {
  background-color: #3b4050;
  color: #fff;
  padding-block: 7.2em;
  text-align: center;
}
@media (min-width: 62.5rem) {
  .main .hero .container {
    display: flex;
    gap: 1em;
    text-align: left;
  }
}
.main .hero__heading h1 {
  margin: 0;
  font-family: "Oswald";
}
@media (min-width: 62.5rem) {
  .main .hero__heading h1 {
    font-size: 9rem;
  }
}
.main .hero__heading span {
  color: #a59678;
}
.main .hero__text {
  align-self: flex-end;
  line-height: 1.6em;
  margin-top: 1em;
}
.main .hero__text P {
  font-family: "Montserrat";
}
@media (min-width: 62.5rem) {
  .main .hero__text P {
    font-size: 2.4rem;
    line-height: 1.5em;
  }
}
.main .hero .hero__btn {
  margin-top: 1.5em;
  font-family: "Oswald";
  letter-spacing: 0.1em;
}
@media (min-width: 62.5rem) {
  .main .hero .hero__btn {
    font-size: 2.4rem;
  }
}
.main .features {
  background-color: #dadada;
  padding-block: 6em;
  text-align: center;
  line-height: 1.5em;
}
@media (min-width: 43.75rem) {
  .main .features .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
}
.main .features h2 {
  color: #a59678;
}
@media (min-width: 62.5rem) {
  .main .features h2 {
    font-size: 3rem;
    margin-bottom: 0.8em;
  }
}
.main .features p {
  margin-top: 0.4em;
  font-family: "Montserrat";
}
@media (min-width: 62.5rem) {
  .main .features p {
    font-size: 1.8rem;
  }
}
.main .primary-content {
  padding-block: 6em;
}
@media (min-width: 62.5rem) {
  .main .primary-content .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5.5em;
  }
}
.main .primary-content p {
  font-family: "Montserrat";
  line-height: 1.5em;
  margin-top: 2em;
}
@media (min-width: 62.5rem) {
  .main .primary-content p {
    font-size: 2.1rem;
  }
}
.main .primary-content__main h2 {
  color: #a59678;
  font-family: "Oswald";
}
@media (min-width: 62.5rem) {
  .main .primary-content__main h2 {
    font-size: 3.6rem;
  }
}
.main .primary-content__main img {
  margin-top: 2.5em;
}
@media (min-width: 43.75rem) {
  .main .primary-content__main img {
    width: 100%;
    height: 20em;
    object-fit: fill;
    object-position: center;
  }
}
@media (min-width: 43.75rem) {
  .main .primary-content__aside {
    display: flex;
    gap: 1em;
  }
}
@media (min-width: 62.5rem) {
  .main .primary-content__aside {
    flex-direction: column;
  }
}
@media (min-width: 62.5rem) {
  .main .primary-content__aside h2 {
    font-size: 3rem;
  }
}
@media (min-width: 62.5rem) {
  .main .primary-content__aside p {
    font-size: 1.8rem;
  }
}
@media (min-width: 43.75rem) {
  .main .primary-content__aside .card {
    width: 100%;
  }
}

/*# sourceMappingURL=/style.a6dae8f7.css.map */