@use "../utils" as *;

.card {
  color: #fff;
  background-color: color(primary);
  padding: 2em;
  margin-top: 2em;
  text-align: center;

  &__title {

  }

  &__text {
    margin: .8em;
    line-height: 1.5em;
    font-size: 1.4rem;
  }
}