$primary-color: #2e323f;
$secondary-color: #a59678;
$primary-light-color: #3b4050;

$font-primary: "Montserrat";
$font-secondary: "Oswald";

$font-stack: (
  "primary": $font-primary,
  "secondary": $font-secondary,
);

$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "primary-light": $primary-light-color,
);

// breakpoints 700px and 1000px
// media query breakpoints are based on the default browser font size setting. Not on the root elements font size. Most browser settings have a default font size of 16px.
$breakpoints: (
  "medium": 43.75rem,
  "large": 62.5rem,
);

// padding for each section
$padding: 6em;
