html {
  box-sizing: border-box;
  font-size: 62.5%; // Allows the user to control the size of the base font on the website. Enhances Accessibility
}

body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 2em;
}
