@use "../utils" as *;

.header {
  background-color: color(primary);
  text-align: center;

  .container {
    @include breakpoint(large) {
      display: flex;
    }
  }

  .logo {
    padding: 1em 0;
  }

  .nav {
    font-size: 1.8rem;
    @include breakpoint(large) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-left: 3em;
    }

    &__list {
      @include breakpoint(large) {
        display: flex;
        gap: 1.5em;
        align-items: center;
      }
    }

    &__link {
      text-transform: uppercase;
      display: inline-block;
      padding: 0.5em 0;
      margin: 0.3em 0;
      transition: transform 0.3s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__item--btn {
      margin-bottom: 0.8em;
      @include breakpoint(large) {
        margin-bottom: 0;
      }
    }
  }
}
