$primary-color: #2e323f;
$secondary-color: #a59678;

//! import the required fonts and define the below variables
$font-primary: "";
$font-secondary: "";

$font-stack: (
  "primary": $font-primary,
  "secondary": $font-secondary,
);

//! check if function is working
// function to return a font-family from the font-stack
@function font($font) {
  @return map-get($map: $font-stack, $key: $font);
}

//! finish configuration of parcel bundler